---
---

$header-bg-color: #B20E10;
$header-bg-color-secondary: #243882;
$section-headings-color: $header-bg-color;

@import "{{ site.theme }}";

.page-header {
  padding-bottom: 0;
}

.readme-header {
  display: none;
}
